.pole-top-banner{
    display: flex;
    flex-direction: column;
    background: $second-black;
    h2{
        font-size: 5.625rem;
    }
    .texte-top-banner{
        display: flex;
        flex-direction: row;
        height: 1096px;
        margin-left: 13.64vw;
        .titre-top-banner{
            display: flex;
            align-items: center;
            color: white;
        }
        .para-top-banner{
            display: flex;
            align-items: flex-end;
            margin-bottom: 7rem;
            font-size: 24px;
            color: white;
        }
    }
}
.embed-video-pole{

    iframe{
        width: 86.35vw;
        margin-left: 13.65vw;
  
    }
    img{
        width: 86.35vw;
        margin-left: 13.65vw;
    }
}
.member-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,452px);
    grid-auto-rows: minmax(543px,1fr);
    grid-gap: 20px;
} 
.notre-equipe{
    margin-left: 13.64vw;
    margin-top: 97px;
h3 {
    margin-bottom: 80px;
    font-size: 3.125rem;
}
}
.member{
    // width: 452px;
    // height: 543px;
    display: flex;
    position: relative;
    background: #ffc33b;
    justify-content: center;
    align-items: center;
    img{
        width: 452px;
        height: 543px;
        position: absolute;
        top: 0%;
        left:0%;
    }
}
.member:hover > img{
    display: none;
}
.donnee-member {
width:350px ;
height: 426px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.name{
    font-size: 34px;
}
.role{
    font-size: 24px;
    p{
        margin: 10px;
    }
}
.section-actu {
    height: 434px;
    position: relative;
}
.actu-pole{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -42%;
    left: 20%;
    height: 434px;
}
.comment-pole{
    min-width: 452px;
    overflow-x: hidden;
    height: 434px;
    display: flex;
    flex-direction: row;

}
.comment-pole::-webkit-scrollbar {
    width: 452px;
    height: 10px;
    z-index: 4;
  }
  .comment-pole::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .comment-pole::-webkit-scrollbar-track {
    background: transparent;
  }
.actu-button {
    display: flex;
    flex-direction: row;
    height: 434px;
    .actualité-actu{
        width: 17.39vw;
        font-size: 50px;

    }

}
.arrow-actu{
display: flex;
flex-direction: column;
justify-content: flex-end;
margin-right: 5.19vw;
i{
    font-size: 25px;
width: 35px;
height: 36px;
color:yellow;
}
p{
   font-size: 25px; 
}
}
.carte-actu{
    width: 452px;
    height: 434px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $third-black;
    margin: 0 20px;
    
}
.content-carte-actu{
    width: 375.41px;
    height: 322px;
    p{
        color: white;
    }
}
.date-carte-actu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 61%;
    img{
        height: 46px;
        color: white
    };
    
}
.comment-carte-actu{
    border-top: 1px solid rgba(255, 252, 252,0.2);
    line-height: 35px;
    font-size: 20px;
    p{
        margin-top: 25px;

    }
}
.img-espace-reserver {
    
    width: 169px;
    font-size: 1.25rem;
    height: 2.9375rem;
    justify-content: center;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 26px;
    text-decoration: none;
    
    &:visited{
        color: inherit;
  
    }
    &:hover {
      background-color: black;
      color: white;
    }
}
.spintch-pole{
    background:url('resources/images/Mask Group 93@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 41.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    .contenue-spintch{
      margin-left: 13.59vw;
      max-width: 924px;
      h2{
        font-size: 3.125rem;
      }
      h3{
        font-size: 1.5rem;
      }
    }
  }

  .pole-vide{
      height: 408px;
      background-color: $second-black;
  }