.page-template-archive{
    background-color: $second-black;
    color: white;
}
.secteurs{
    margin-top: 5rem;
    margin-left: 7rem;
    display: flex;
    flex-direction: row;
}
.gauche{
    border-right: 1px solid $grey2;
    width: 20rem;
}

.droite{
    margin-left: 5rem;

    // search form css
    .screen-reader-text{
        background-color: $third-black!important;

        #s{
            background-color: $second-black;
            border: 1px solid $grey2;
            border-radius: 15px;
            font-size: 1.5rem;
        }

        #searchsubmit{
            border: none;
            background-color: $second-black;
            color: white;
        }
    }

    // carte entreprises
    .secteur__entreprise{
        margin: 1rem;

        // Titre + taxo + btn
        .secteur__accordion{
            margin-top: 2rem;
            width: 50rem;
            padding-bottom: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;   
            background-color: $second-black;
            border: none;
            border-bottom:1px solid $grey2;

            .secteur__titre{
                display: flex;
                color: white;
                h2{
                    font-size: 3rem;
                }
    
                h6{
                    margin: 0.5rem;
                    padding: 0.5rem ;
                    border: 1px solid $grey2;
                    border-radius: 20px;
                }
            }
            
            .secteur__btn{
                transform: none;  
            } 
        }
               
        // reste de la div droite
        .secteur__panel{
            
            margin: 2.5rem 0rem 2.5rem 0rem;
            display: none;
            overflow: hidden;
            gap: 10rem;
            

            .secteur__img{
                width: 350px;
                height: 250px;
            }

            h6{
                display: flex;
                padding-bottom:1rem;
                a{
                    color: $yellow;
                    text-decoration: none;
                }
            }
            p{
                opacity: 0.4;
                font-size: 0.8rem;
                font-weight: 100;
            }
        }
    }
    
}