.contact{
    padding-top: 5rem;
    padding-left: 7rem;
    background-color: $white;
    color:$main-color;
    display: flex;
    .contact-left{
        flex-grow: 1;
        border-right: $border-default;
        border-right: $border;
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        .iti {
            .itinerary {
                border-radius: 5rem;
                padding: 0.5rem 0rem;
                margin-top: 2rem;
                a {
                    text-decoration: none;
                    color: inherit;
                    padding: 0.5rem 1rem;
                    img {
                        height: 1rem;
                        filter: invert(91%) sepia(26%) saturate(4538%) hue-rotate(329deg) brightness(110%) contrast(102%);
                        padding-bottom: _0.2rem;
                        //get lower you son of a bit
                    }
                }
                a:hover {
                    color: $yellow;
                    img {
                        filter: invert(0%) sepia(4%) saturate(7486%) hue-rotate(176deg) brightness(99%) contrast(105%);
                    }
                }
            }
        }
        h3 {
            //will you get on top of this flex
            justify-self: flex-start;
            font-size: 3rem;
            font-weight: 800;
        }
    }
    .contact-right {
        margin-left: 8rem;
        flex-grow: 1.6;
        display: flex;
        flex-flow: column;
        .contact-contact {
            font-size: 3rem;
            font-weight: 300;
            a {
                text-decoration: none;
                color: inherit;
            }
            .tel {
                display: flex;
                .plus {
                    color: $yellow;
                    font-size: 2rem;
                }
            }
        }
    }
}