.entreprises {
  background-color: $main-color;
  padding: 3rem 0;
}
.titre-entreprises {
  font-size: 24px;
  color: $white;
  margin-left: 11rem;
  margin-bottom: 35px;
}
.ul-entreprises {
  columns: 4;
  margin-left: 11rem;
}
.li-entreprises {
  margin: 0% 20% 3% 0%;
  font-size: 18px;
  font-weight: lighter;
}
.a-entreprises {
  text-decoration: none;
  color: #ffffff;
}
