$border-default: lightgray solid 0.0625rem;
//rgba not valid on all browser, need alt
$border: rgba(255, 255, 255, .8) solid 0.0625rem;
footer {
    width: 85%;
    margin: 1rem auto 0rem;
    color: #ffffff;
    font-size: 0.9375rem;
    p {
        //BE WHITE PLEASE
        //IM BEGGING YOU
        color: #ffffff;
    }
    .foot {
        display: flex;
        justify-content: center;
        border-top: $border-default;
        border-top: $border;
    }
    a {
        text-decoration: none;
        color: #ffffff;
    }
    .big-txt {
        font-weight: 600;
        font-size: 1.25rem;
        padding-top: 3rem;
        a:hover {
            color: $main-color;
        }
    }
    .footer-left {
        flex-grow: 1;
        height: 21.875rem;
        margin-right: 6rem;
        .tel {
            align-self: flex-end;
            width: 12rem;
            height: 12rem;
            line-height: 12rem;
            border: $border-default;
            border: $border;
            border-radius: 50%;
            text-align: center;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-right {
        border-left: $border-default;
        border-left: $border;
        flex-grow: 1.2;
        height: 21.875rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul {    
            margin-left: 6rem;
            li {
                padding-bottom: 1rem;
              }
              li:last-child {
               padding-bottom: 0rem;
              }
        }
        .smalls {
            margin-left: 6rem;
            display: flex;
            justify-content: space-between;
            color: lightgray;
            //WHY DON'T YOU TAKE THE FUCKING FONT WEIGHT
            font-weight: 200;
            .small-right a {
                color: #ffffff;
            }
        }
    }
}
//need to add responsive