$border: $lightgray solid 0.0625rem;
footer {
    width: 85%;
    margin: auto;
    color: white;
    p {
        //BE WHITE PLEASE
        //IM BEGGING YOU
        color: white;
    }
    .foot {
        display: flex;
        justify-content: center;
        border-top: $border;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .big-txt {
        font-weight: 600;
        font-size: 1.25rem;
        a:hover {
            color: $main-color;
        }
    }
    .footer-left {
        flex-grow: 1;
        height: 21.875rem;
        margin-top: 4rem;
        margin-right: 6rem;
        .tel {
            align-self: flex-end;
            width: 14rem;
            height: 14rem;
            line-height: 14rem;
            border: $border;
            border-radius: 50%;
            text-align: center;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-right {
        border-left: $border;
        flex-grow: 1.2;
        height: 21.875rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul {    
            margin-left: 6rem;
            margin-top: 3rem;
            li {
                margin-top: 1rem;
            }
        }
        .smalls {
            margin-left: 6rem;
            display: flex;
            justify-content: space-between;
            color: $lightgray;
            //WHY DON'T YOU TAKE THE FUCKING FONT WEIGHT
            font-weight: 200;
            .small-right a {
                color: white;
            }
        }
    }
}
//delete before final push
img {
    display: none;
}
//need to add responsive