body {
  position: relative;
  height: 2500px;
}
.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: transparent;
  border-bottom: 1px solid $grey2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__img{
    display: flex;
    img {
      padding: 0.6rem;
      background-color: white;
      color: black;
    }
  
    .menu-menu-des-pages-container{
      padding-left: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 0.9rem;
      mix-blend-mode: normal;
          
      .menu{
        display: flex;
        margin-top: 1.5rem;
        
        .menu-item{
          display: flex;
          justify-content: space-between;
          padding: 0 1rem 0 1rem;
          a{
          color: white;
          text-decoration: none;
          mix-blend-mode: normal;
          }
        }
        .menu-item a:visited{
          color: white;
          mix-blend-mode: normal;
        }
      }
    }
  }
  .header__menu{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    .menu-contact-container{
      #menu-contact{
        .menu-item{
          a{
            color: white;
            text-decoration: none;
            mix-blend-mode: normal;
            }
          }
          .menu-item a:visited{
            color: white;
            mix-blend-mode: normal;
          }
      }
    }
    .arrow__contact {
      width: 1rem;
      color: #ffffff;
      margin-right: 2rem;
      border: 2px solid #4b4b4b;
      border-radius: 100%;
      padding: 0.7rem;
      margin-left: 1rem;
    }
  }  
}

.social__nav{
    position: fixed;
    padding: 27rem 1rem 1rem 1rem;
    width: 4rem;
    border-right: 1px solid $grey2;
    border-bottom: 1px solid $grey2;
    list-style-type: none;
    mix-blend-mode: normal;
    display: flex;

  .social_nav__ul {
    padding: 1rem;
  }
  .social_nav__li {
    padding: 1.5rem 0 1.5rem 0;
  }
  .social_nav__li a {
    color: white;
    text-decoration: none;
  }
  .social_nav__li a:visited {
    color: white;
  }

}
