// @font-face {
//   font-family: "II Vorkurs";
//   src: url("/fonts/") format("woff2"),
//     url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
// }

.sectionOne {
  background-color: black;
  overflow-x: hidden;
}
.punch-line {
  margin-top: 12rem;
  font-size: 5.62rem;
  color: white;
  margin-left: 10rem;
  width: auto;
}

.bureaux-PI {
  margin-left: 16rem;
  width: 100vw;
  opacity: 0.72;
}
.image-fleche {
  margin-top: 2rem;
  height: 700px;
}
.fleche-bas {
  position: absolute;
  margin-left: 80%;
  margin-top: -120px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 10rem;
  padding: 5rem;
}
