// @font-face {
//   font-family: "II Vorkurs";
//   src: url("/fonts/") format("woff2"),
//     url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
// }

.sectionOne {
  background-color: black;
  overflow-x: hidden;
}
.punch-line {
  margin-top: 12rem;
  font-size: 5.62rem;
  color: white;
  margin-left: 10rem;
  width: auto;

}

.bureaux-PI {
  margin-top: 32rem;
  margin-left: 16rem;
  width: 100rem;
  opacity: 0.72;
}
