@font-face {
  font-family: "Vorkurs";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

.sectionOne {
  background-color: black;
}
.bureaux-PI {
  top: 519px;
  left: 262px;
  width: 1658px;
  height: 668px;
  opacity: 0.72;
}
