.introduction-section {
  background-color: black;
}
.titre_formation {
  margin-top: 60px;
}
.introduction {
  font-size: 34px;
  color: $white;
  max-width: 22%;
  margin-left: 13rem;
}
.image-formation {
  margin-top: -100px;
  margin-left: -150px;
  z-index: 2;
}

.listes-container {
  display: flex;
  justify-content: space-between;
}
.liste_formation {
  line-height: 2.6;
}
.liste_1_home {
  max-width: 85%;
  font-size: 18px;
  margin-left: 10%;
  opacity: 0.72;
  color: $white;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.liste_2 {
  max-width: 85%;

  font-size: 18px;
  margin-left: 10%;
  opacity: 0.72;
  color: $white;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-right: 3rem;
}
.li-1 {
  padding-left: 1em;
  text-indent: -1em;
  line-height: 1.7;
}
.titre {
  font-size: 24px;
  color: $white;
  margin-bottom: 30px;
}

.li-2 {
  padding-left: 1em;
  text-indent: -1em;
  line-height: 1.7;
}

.li-2:before {
  content: "+";
  padding-right: 5px;
  color: $yellow;
}
.li-1:before {
  content: "+";
  padding-right: 5px;
  color: $yellow;
}
.btn-aca {
  margin-top: 3rem;
  background-color: white;
  border: none;
}
// .btn-aca:hover {
//   margin-top: 3rem;
//   background-color: $second-black;
//   border: none;
//   color: white;
// }
.a-aca {
  border: 1px solid black;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  color: $second-black;
}
.a-aca:hover {
  border: 1px solid black;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  text-decoration: none;
  background-color: $second-black;
  color: white;
  .yellow {
    color: $yellow;
  }
}
